/* AddNewDoctor.css - Styles for AddNewDoctor component */

.add-doctor-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0;
}
.add-doctor-form form {
  width: 100%;
  padding: 0 1rem 30px;
}
.add-doctor-form img {
  margin-top: 1rem;
}
.add-doctor-form form .first-wrapper {
  display: flex;
  gap: 30px;
}
.add-doctor-form form .first-wrapper div:first-child {
  flex: 1;
}
.add-doctor-form form .doctor-avatar-imgbox {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.doctor-avatar-imgbox img {
  width: 100%;
  height: 100%;
}
.add-doctor-form form .first-wrapper div:first-child input {
  width: 100%;
  padding: 10px;
}
.add-doctor-form
  form
  .first-wrapper
  div:first-child
  input:file-selector-button {
  position: absolute;
  height: 80%;
  width: 80%;
}
.add-doctor-form form .first-wrapper div:last-child {
  flex: 2;
  display: flex;
  /* gap: 30px; */
  flex-direction: column;
}
.add-doctor-form form input,
.add-doctor-form form select,
.add-doctor-form form textarea {
  flex: 1;
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  border-radius: 7px;
  border: 1px solid gray;
}
.add-doctor-form button {
  padding: 10px 35px;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  border: none;
  border-radius: 8px;
  /* font-size: 24px; */
  /* margin-bottom: 30px; */
  background: linear-gradient(140deg, #9083d5, #271776ca);
  font-size: 16px;
  margin-inline: auto;
}
@media (max-width: 945px) {
  .add-doctor-form form .first-wrapper {
    flex-direction: column;
  }
  .add-doctor-form form .first-wrapper div:first-child img {
    height: auto;
  }
}

/* ------ From app.css -------- */

/* RK */
.form-field-wrap.left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form-field-wrap.right {
  gap: 26px;
}
input[type="date"]:before {
  content: attr(placeholder);
  color: #444;
  margin-right: 0.5em;
}
input[type="time"]:before {
  content: attr(placeholder);
  color: #444;
  margin-right: 0.5em;
}