.back-btn-box {
    display: flex;
    justify-content: flex-start;
    margin: 1rem auto;
}
.appointment-form {
    margin: 1rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.7rem;
}

h2 {
    color: #6D60AE;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.875rem; /* 30px */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.875rem; /* 30px */
}

.has-visited-box {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem; /* 10px */
    margin-top: 0.5rem;
    height: 5rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-left: 0;
}

.search-container {
    display: flex;
    gap: 0.625rem; /* 10px */
    padding: 0.1875rem; /* 3px */
}

.appointment-form button {
    padding: 0.625rem 2.1875rem; /* 10px 35px */
    color: #fff;
    font-weight: 700;
    width: fit-content;
    border: none;
    border-radius: 0.5rem; /* 8px */
    font-size: 1.5rem; /* 24px */
    background: linear-gradient(140deg, #9083d5, #271776ca);
}

.search-container input {
    height: 2rem;
    width: 14.5rem; /* 232px */
}

.search-container button {
    height: 2rem;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3125rem; /* 5px */
}

form input, 
form select, 
form textarea {
    flex: 1;
    font-size: 1rem;
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* 5px */
    border: 1px solid gray;
}

.lnr-input-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: end;
    margin-bottom: 2rem;
}
.age-grid {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
}
.age-grid input{
    max-width: 7rem;
}
.inner-box-of-lnr{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    height: 100%;
}
.address-box{width: 100%;}
.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.dep-doc-tarea-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.dep-and-doc-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dep-doc-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vitals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}


.fees-detail-box{
    padding: 10px;
    color: rgba(39, 23, 118, 0.792);
    font-weight: 500;
    flex: 1;
}

.pay-status-box{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* ================== Responsive ================== */

@media (min-width: 61.875rem) { /* 990px */
    .appointment-form, .back-btn-box {
        width: 80%;
    }
}

@media (max-width: 51.5625rem) { /* 825px */
    .appointment-form form div {
        flex-direction: column;
    }
    .appointment-form form div .age-grid{
        flex-direction: row;
    }
    .has-visited-box {
        height: fit-content;
    }
    .has-visited-box .checkbox-container {
        flex-direction: row;
    }
    .has-visited-box .search-container {
        flex-direction: row;
    }  
    .has-visited-box .search-container button {
        font-size: 0.7rem;
        font-weight: 500;
        padding: 0.3125rem 0.625rem; /* 5px 10px */
        border-radius: 0.3125rem; /* 5px */
    }
    .inner-box-of-lnr{
        width: 100%;
    }
    form input, form select, form textarea {
        width: 100%;
    }
    .appointment-form .btn-container button {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.4375rem 1.25rem; /* 7px 20px */
        border-radius: 0.3125rem; /* 5px */
    } 
}

@media (max-width: 44.0625rem) { /* 705px */
    .lnr-input-box{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 35.625rem) { /* 570px */
    .has-visited-box .search-container {
        flex-direction: column;
        align-items: center;
    }
    .appointment-form input[type="text"], 
    .appointment-form input[type="tel"], 
    .appointment-form input[type="search"], 
    .appointment-form input[type="number"],
    .appointment-form input[type="date"], 
    .appointment-form input::placeholder,
    .appointment-form select,
    .appointment-form textarea {
        font-size: 0.8rem;
    }
}

@media (max-width: 30.3125rem) { /* 485px */
    .has-visited-box .search-container {
        flex-direction: row;
    }  
    .back-btn-box{
        justify-content: end;
    }
}

@media (max-width: 25.625rem) { /* 410px */
    .appointment-form {
        padding: 2rem 1rem;
    }
    .appointment-form input[type="search"] {
        width: 12rem; /* 192px */
        padding: 0.3125rem; /* 5px */
    }
}
